.navbar-brand {
    img {
        height: 55px;
    }
}

.detail {
    :nth-child(1) {
        text-align: center;
        img {
            width: 50%;
        }
    }
    :nth-child(2) {
        div {
            text-align: left;
        }
        .price {
            color: blue;
            padding-left: 10px;
        }
    }
}

.related-disc {
    .disc {
        text-align: center;
        img {
            width: 100%;
        }
    }
}

.add-to-cart {
    text-decoration: none;
    background-color: #0d6efd;
    color: white;
    padding: 3px 10px;
    font-size: 12px;

    &:hover {
        color: #ffffff;
        cursor: pointer;
    }
}

.fade-out {
    visibility: hidden;
    transition: visibility 0s 3s, opacity 3s linear;
    opacity: 0;
}