html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  margin-top: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.disc_cover_image_block {
  text-align: center;
}

.disc_cover_image {
  width: auto !important;
  height: 170px;
  padding: 10px;
}

.card-title {
  font-size: 1rem !important;
}

.add-to-cart {
  text-decoration: none;
  background-color: #0d6efd;
  color: white;
  padding: 3px 10px;
  font-size: 12px;
}